# Google Sheet CSV URL for static data
VITE_GOOGLE_SHEET_URL=

# Main Member Backend Script URL
VITE_GOOGLE_SCRIPT_URL=

# WOD & In-App Messaging Script URL
VITE_WOD_INAPP_MESSAGING_SCRIPT_URL=

# HMO/Visitor Portal Access Script URL
VITE_HMO_PORTAL_ACCESS_SCRIPT_URL=
